@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap");
:root {
  --background-color: #f1f5f9;
  --primary-color: #624bff;
  --secondary-color: #212b36;
  --background-white: #ffffff;
  --font-family: "Montserrat", sans-serif;
  --tic-size: 40px;
  --regular-weight: 400;
  --medium-weight: 600;
  --shadow-box: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

body {
  width: 100%;
  height: 100vh;
  font-family: var(--font-family);
  background-color: var(--background-color);
}

.tic-tac-toe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  height: 100%;
  font-size: var(--tic-size);
  font-weight: var(--medium-weight);
}

button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms, background 200ms;
  background: transparent;
  color: #000000;
  box-shadow: 0 0 0 3px #000000 inset;
  :hover {
    transform: translateY(-2px);
  }
}

.restart-game {
  display: none;
}

table {
  background-color: var(--background-white);
  color: var(--primary-color);
  display: none;
}

td {
  border: 3px solid var(--primary-color);
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}
